In [1]:
import pandas as pd
import geopandas as gpd

In [34]:
airports_df = pd.read_csv('../downloads/airports.csv')
airports_df.head()

,index,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [3]:
airports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  7698 non-null   int64
 1   Airport ID             7698 non-null   int64
 2   Name                   7698 non-null   object
 3   City                   7649 non-null   object
 4   Country                7698 non-null   object
 5   IATA                   7698 non-null   object
 6   ICAO                   7698 non-null   object
 7   Latitude               7698 non-null   float64
 8   Longitude              7698 non-null   float64
 9   Altitude               7698 non-null   int64
 10  Timezone               7698 non-null   object
 11  DST                    7698 non-null   object
 12  Tz database time zone  7698 non-null   object
 13  Type                   7698 non-null   object
 14  Source                 7698 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 902.2+ KB

In [39]:
routes_df = pd.read_csv('../downloads/routes.csv')
routes_df.head()

,index,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [5]:
routes_df[routes_df["Source airport"] == "MUC"]

,index,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
433,433,3L,2916,MUC,346,EBA,1558,NaN,0,DH3
1514,1514,4U,2548,MUC,346,DTM,373,NaN,0,319
4407,4407,A3,96,MUC,346,ATH,3941,NaN,0,320
4408,4408,A3,96,MUC,346,HER,1452,NaN,0,320
4409,4409,A3,96,MUC,346,KLX,1456,NaN,0,319
...,...,...,...,...,...,...,...,...,...,...
65321,65321,X3,2681,MUC,346,TFS,1056,NaN,0,73H
65322,65322,X3,2681,MUC,346,XRY,1226,NaN,0,73H
65532,65532,XQ,4573,MUC,346,ADB,1706,NaN,0,738
65533,65533,XQ,4573,MUC,346,AYT,1688,NaN,0,738
66236,66236,YQ,16882,MUC,346,VOZ,2987,NaN,0,S20

In [6]:
def method3(airport, internal=False):
    """Develop a third method that receives an airport as an input and an optional argument called internal 
        with a value of False by default. If internal is True, then this method should plot only the flights 
        leaving this airport with a destination in the same country. Otherwise, it plots all flights."""

    all_routes = routes_df[routes_df['Source airport'] == airport]

    if internal == False:
        print(all_routes)

    if internal == True:
        
        source_country = airports_df[airports_df["IATA"] == airport]["Country"].values[0]
        print(source_country)

        airports_source_country = airports_df[airports_df["Country"] == source_country]["IATA"].values
        #print(airports_source_country)

        destination_source_country = all_routes[all_routes["Destination airport"].isin(airports_source_country)]
        print(destination_source_country)

In [7]:
method3("DUS",True)

Germany
       index Airline Airline ID Source airport Source airport ID  \
419      419      3L       2916            DUS               345
1371    1371      4U       2548            DUS               345
1374    1374      4U       2548            DUS               345
1378    1378      4U       2548            DUS               345
1384    1384      4U       2548            DUS               345
7160    7160      AB        214            DUS               345
7167    7167      AB        214            DUS               345
7168    7168      AB        214            DUS               345
7183    7183      AB        214            DUS               345
7188    7188      AB        214            DUS               345
7205    7205      AB        214            DUS               345
7209    7209      AB        214            DUS               345
23760  23760      ET       2220            DUS               345
31257  31257      HU       2660            DUS               345
38136  38136      LH       3320            DUS               345
38140  38140      LH       3320            DUS               345
38146  38146      LH       3320            DUS               345
38157  38157      LH       3320            DUS               345

      Destination airport Destination airport ID Codeshare  Stops  \
419                   FDH                    382       NaN      0
1371                  DRS                    338       NaN      0
1374                  HDF                   5557       NaN      0
1378                  LEJ                    348       NaN      0
1384                  NUE                    347       NaN      0
7160                  DRS                    338       NaN      0
7167                  GWT                    410       NaN      0
7168                  HAM                    342       NaN      0
7183                  MUC                    346       NaN      0
7188                  NUE                    347       NaN      0
7205                  STR                    350       NaN      0
7209                  TXL                    351       NaN      0
23760                 FRA                    340         Y      0
31257                 TXL                    351       NaN      0
38136                 FRA                    340       NaN      0
38140                 HAM                    342       NaN      0
38146                 MUC                    346       NaN      0
38157                 TXL                    351       NaN      0

                     Equipment
419                        DH3
1371                   319 CRJ
1374                       CRJ
1378                       CRJ
1384                       CRJ
7160               DH4 319 73G
7167           DH4 319 738 320
7168           320 319 DH4 738
7183       320 738 319 321 DH4
7188                       DH4
7205                       DH4
7209   738 319 320 73G 321 DH4
23760              319 320 321
31257              738 320 73G
38136      319 320 CR7 E90 321
38140                  320 319
38146              321 320 319
38157              320 319 CR9

In [24]:
routes_df["Equipment"]

array(['CR2', 'A81', 'AN4', ..., '737 777 320', '330 747 777 737',
       'BE1 BEH'], dtype=object)

In [28]:
routes_df["Equipment"] = routes_df["Equipment"].astype(str)

In [31]:
type(routes_df["Equipment"].iloc[110])

str

In [106]:
routes_df = pd.read_csv('../downloads/routes.csv')

#

In [115]:
def method4(country_input = None):
    """Develop a fourth method that may receive a string with a country or a list of country strings 
        but has None by default. This method should plot the N most used airplane models by number of routes. 
        If the input argument is None it should plot for all dataset. If it receives only a country or list of 
        countries, it should plot just for that subset.""" 
    
    string_filter = isinstance(country_input, str)
    string_list_filter = isinstance(country_input, list) and all(isinstance(x, str) for x in country_input)

    try:
        assert string_filter == True 
        print("Tried the assert")      
    except:
        assert string_list_filter == True or country_input == None
        print("Tried the exepct assert")

    routes_df["Equipment"] = routes_df["Equipment"].astype(str)
    routes_df["Equipment"] = routes_df["Equipment"].dropna()

    if string_filter == True:
        country_input = [country_input]

    if country_input == None:
        country_input = airports_df["Country"].unique()

    equipment_list = []

    for country in country_input:
        print(country)

        target_country = airports_df[airports_df["Country"] == country]

        airports_target_country = target_country["IATA"].values

        routes_target_country = routes_df[routes_df["Source airport"].isin(airports_target_country)]

        routes_target_country['Equipment'] = routes_target_country['Equipment'].str.split()
        exploded_df = routes_target_country.explode('Equipment')

        exploded_list = exploded_df["Equipment"].to_list()

        equipment_list += exploded_list

    equipment_series = pd.Series(equipment_list)
    print(equipment_series.value_counts().head())

    return equipment_series

In [116]:
d = method4("Germany")

Tried the assert
Germany
320    595
319    588
738    437
321    290
73H    144
Name: count, dtype: int64

/var/folders/q8/420_prn108s38dq0t1r701080000gn/T/ipykernel_24207/3681057181.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  routes_target_country['Equipment'] = routes_target_country['Equipment'].str.split()